################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNet/AdoNetTesti/.vs
/DotNet/AdoNetTesti/AdoNetTesti/bin/Debug/net6.0
/DotNet/AdoNetTesti/AdoNetTesti/obj
/DotNet/AspNetHello/.vscode
/DotNet/AspNetHello/bin/Debug/net6.0
/DotNet/AspNetHello/obj
/DotNet/BlazorHello/bin/Debug/net6.0
/DotNet/BlazorHello/obj
/DotNet/EntityFrameworkDemo/.vs
/DotNet/EntityFrameworkDemo/EntityFrameworkDemo/bin/Debug/net6.0
/DotNet/EntityFrameworkDemo/EntityFrameworkDemo/obj
/DotNet/Harjoitukset/bin/Debug/net6.0
/DotNet/Harjoitukset/obj
/DotNet/HelloWorld/bin/Debug/net6.0
/DotNet/HelloWorld/obj
/DotNet/HelloWorldVB/obj
/DotNet/LinqDemo/.vs
/DotNet/LinqDemo/LinqDemo/bin/Debug/net6.0
/DotNet/LinqDemo/LinqDemo/obj
/DotNet/LukujenSumma/.vscode
/DotNet/LukujenSumma/bin/Debug/net6.0
/DotNet/LukujenSumma/obj
/DotNet/Lämpötila/.vscode
/DotNet/Lämpötila/bin/Debug/net6.0
/DotNet/Lämpötila/obj
/DotNet/Oliot/.vscode
/DotNet/Oliot/bin/Debug/net6.0
/DotNet/Oliot/obj
/DotNet/WebApiTesti/bin/Debug/net6.0
/DotNet/WebApiTesti/obj
/DotNet/WebTietokanta/.vs
/DotNet/WebTietokanta/WebTietokanta/bin/Debug/net6.0
/DotNet/WebTietokanta/WebTietokanta/obj
/DotNet/WindowsFormsDemo/.vs/WindowsFormsDemo
/DotNet/WindowsFormsDemo/WindowsFormsDemo/bin/Debug
/DotNet/WindowsFormsDemo/WindowsFormsDemo/obj
/DotNet/WpfDemo/.vs
/DotNet/WpfDemo/WpfDemo/bin/Debug/net6.0-windows
/DotNet/WpfDemo/WpfDemo/obj
/DotNet/AzureTesti/AzureWebSovellus/.vs
/DotNet/AzureTesti/AzureWebSovellus/AzureWebSovellus/bin
/DotNet/AzureTesti/AzureWebSovellus/AzureWebSovellus/obj
/DotNet/AzureTesti/AzureWebSovellus/AzureWebSovellus/Properties/PublishProfiles
/DotNet/AzureTesti/AzureWebSovellus/AzureWebSovellus/Properties/ServiceDependencies/codeacademyturku - Web Deploy
/DotNet/CosmosDB/.vs
/DotNet/CosmosDB/CosmosGettingStartedTutorial/bin/Debug/net6.0
/DotNet/CosmosDB/CosmosGettingStartedTutorial/obj
/DotNet/WebSovellusDocker/.vs
/DotNet/WebSovellusDocker/WebSovellusDocker/bin/Debug/net6.0
/DotNet/WebSovellusDocker/WebSovellusDocker/obj
/DotNet/WebTietokanta/WebTietokanta/bin/Release/net6.0
/DotNet/WebTietokanta/WebTietokanta/Properties/PublishProfiles
/DotNet/Yksikkötestaus/.vs
/DotNet/Yksikkötestaus/Yksikkötestaus/bin/Debug/net6.0
/DotNet/Yksikkötestaus/Yksikkötestaus/obj
/DotNet/Yksikkötestaus/YksikkötestausTests/bin/Debug/net6.0
/DotNet/Yksikkötestaus/YksikkötestausTests/obj
/JavaScript/cosmosdb/node_modules
/Angular/my-app/.vscode
/DotNet/PalkkatiedotXmlJsonKonversio/.vs
/DotNet/PalkkatiedotXmlJsonKonversio/PalkkatiedotXmlJsonKonversio/bin/Debug/net6.0
/DotNet/PalkkatiedotXmlJsonKonversio/PalkkatiedotXmlJsonKonversio/obj
/DotNet/WebApiDemo/.vs
/DotNet/WebApiDemo/WebApiDemo/bin/Debug/net6.0
/DotNet/WebApiDemo/WebApiDemo/obj
