@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Scripts {
    <script>
        $("#laskeNappi").click(function () {
            
            let luku1 = $("#luku1").val();
            let luku2 = $("#luku2").val();
            let summa = parseInt(luku1) + parseInt(luku2);
            alert("Summa on: "+ summa);

        });
    </script>
}

<div class="text-center">

    <h1 class="display-4">Tervetuloa!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    <!-- laskin-esimerkki -->
    <input type="number" class="form-control w-25" min="0" max="100" id="luku1" />
    <input type="number" class="form-control w-25" id="luku2" />
    <button id="laskeNappi" class="btn btn-primary">Laske summa</button>

</div>







@for (int i = 0; i < 5; i++)
{
    <p>Tervehdys! @i</p>
}