<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://codeacademy.documents.azure.com:443/" />
    <add key="PrimaryKey" value="4qnyuXJ0nIY6wYpZLRYtgSuJIEaEg7fZuQLHcOOUdJweD2UJsVx3BWOyHQsfPXCxVjhyfyeFiFxH5wuyVejryA==" />
  </appSettings>
</configuration>